/* Global CSS Modifications and Additions */

:root {
  --accent-color: #f3e5ab;
}

html,
body,
.fill-space {
  height: 100%;
  width: 100%;
}

.fill-height {
  height: 100%;
}

#root {
  /* acts alike a cover which fills the viewport regardless of size, while scrolling as needed */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
