/* Global CSS Modifications and Additions */

:root {
  --accent-color: #f3e5ab;
}

/* a {
  color: var(--accent-color);
  text-decoration: none;
}

a.active,
a:hover,
a:focus {
  text-decoration: underline;
} */
